# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.nova/
.zed/
.cursor/
.codex/
.phpactor.json

# Environment
.env
.env.backup
.env.production
auth.json

# PHP
/backend/vendor
/backend/storage/*.key
/backend/storage/pail
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/.phpunit.result.cache
/backend/.phpunit.cache
/backend/Homestead.json
/backend/Homestead.yaml

# Node
node_modules/
/frontend/node_modules/

# Logs
*.log

# Laravel
_ide_helper.php
